<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<table border="1">
    <thead>
    <tr>
        <th> ID </th>
        <th> Name </th>
        <th> Login </th>
        <th> Password </th>
        <th> Email </th>
        <th> Role </th>

    </tr>
    </thead>
    <tbody>
    <!--    <tr th:if="${books.empty}">-->
    <!--        <td colspan="2"> No Books Available </td>-->
    <!--    </tr>-->
    <tr th:each="admin_or_employee : ${admins_or_employees}">
        <td><span th:text="${admin_or_employee.id}">...</span></td>
        <td><span th:text="${admin_or_employee.name}"> ... </span></td>
        <td><span th:text="${admin_or_employee.login}"> ... </span></td>
        <td><span th:text="${admin_or_employee.password}"> ... </span></td>
        <td><span th:text="${admin_or_employee.email}"> ... </span></td>
        <td><span th:text="${admin_or_employee.role}"> ... </span></td>
    </tr>
    </tbody>
</table>
</body>
</html>