<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<table border="1">
    <thead>
    <tr>
        <th> ID </th>
        <th> Name</th>
        <th> Login</th>
        <th> Password</th>
        <th> Email</th>
        <th> Salary </th>



    </tr>
    </thead>
    <tbody>
    <!--    <tr th:if="${books.empty}">-->
    <!--        <td colspan="2"> No Books Available </td>-->
    <!--    </tr>-->
    <tr th:each="admin : ${admins}">
        <td><span th:text="${admin.id}">...</span></td>
        <td><span th:text="${admin.user.name}"> ... </span></td>
        <td><span th:text="${admin.user.login}"> ... </span></td>
        <td><span th:text="${admin.user.password}"> ... </span></td>
        <td><span th:text="${admin.user.email}"> ... </span></td>
        <td><span th:text="${admin.salary}"> ... </span></td>

    </tr>
    </tbody>
</table>
</body>
</html>