<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:replace="fragments/base::header"></div>
<table border="1">
    <thead>
    <h1>ALL Services</h1>
    <br>
    <tr>

        <th> Employee</th>
        <th> Client</th>
        <th> Beginning time</th>
        <th> Finishing name</th>
        <th>Name of service</th>
        <th>Booking status</th>
        <!--        <th> Link to this user</th>-->
    </tr>
    </thead>
    <tbody>
    <!--    <tr th:if="${books.empty}">-->
    <!--        <td colspan="2"> No Books Available </td>-->
    <!--    </tr>-->
    <tr th:each="booking : ${bookings}">

        <td><span th:text="${booking.employee.user.name}">...</span></td>
        <td><span th:text="${booking.client.user.name}"> ... </span></td>
        <td><span th:text="${booking.beginningTime}"> ... </span></td>
        <td><span th:text="${booking.finishingTime}"> ... </span></td>
        <td><span th:text="${booking.providedService.name}"> ... </span></td>
        <td><span th:text="${booking.bookingStatus}"> ... </span></td>
    </tr>
    </tbody>
</table>
<div th:replace="fragments/base::footer"></div>
</body>
</html>