<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<table border="1">
    <thead>
    <tr>

        <th> Name</th>
        <th> Login</th>
        <th> Email</th>
        <th> Date of birth </th>



    </tr>
    </thead>
    <tbody>
    <!--    <tr th:if="${books.empty}">-->
    <!--        <td colspan="2"> No Books Available </td>-->
    <!--    </tr>-->
    <tr th:each="client : ${clients}">

        <td><span th:text="${client.user.name}"> ... </span></td>
        <td><span th:text="${client.user.login}"> ... </span></td>
        <td><span th:text="${client.user.email}"> ... </span></td>
        <td><span th:text="${client.dateOfBirth}"> ... </span></td>
    </tr>
    </tbody>
</table>
</body>
</html>