<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<table border="1">
    <thead>
    <tr>
        <th> ID </th>
        <th> Name </th>
        <th> Email</th>
        <th> Bookings </th>
        <th> Provided Services </th>


    </tr>
    </thead>
    <tbody>
    <!--    <tr th:if="${books.empty}">-->
    <!--        <td colspan="2"> No Books Available </td>-->
    <!--    </tr>-->
    <tr th:each="employee : ${employees}">
        <td><span th:text="${employee.id}">...</span></td>
        <td><span th:text="${employee.user.name}"> ... </span></td>
        <td><span th:text="${employee.user.email}"> ... </span></td>
<!--        <td><span th:text="${employee.bookings.beginningTime}"> ... </span></td>-->
<!--        <td><span th:text="${employee.providedServices.name}"> ... </span></td>-->

    </tr>
    </tbody>
</table>
</body>
</html>