<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<H1>Welcome to My Appointment</H1>
<h3>Choose your option</h3>

<br/>
<a href="/login">To login</a>
<br/>
<a href="/providedservice/all-provided-service">To see all services</a>
<br/>
<a href="/booking">To book an appointment</a>
<br/>
<a href="/users/choosingrole">Create an account</a>


<div th:replace="fragments/base::footer"></div>
</body>
</html>
<!--<a href="/booking/all">To see all bookings</a>-->
<!--<a href="/providedservice/create-new-provided-service">To create newservice</a>-->
<!--<a href="/users/alladmins">To see all admins</a>-->
<!--<a href="/users/allemployees">To see all employees</a>-->
<!--<a href="/users/allusers">To see all user</a>-->
<!--<a href="/users/allclients">To see all clients</a>-->