<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:replace="fragments/base::header"></div>



<form th:action="@{/booking/new}" method="post">
    <br>
    <p>For creating an appointment</p>

    <p>Choose your service:</p>
    <div>
        <select name="providedServiceId">
            <option th:each="service : ${services}"
                    th:value="${service.id}"
                    th:text="${service.name}">Service</option>
        </select>
    </div>
        <input type="submit" value="next"/>
    </form>
<div th:replace="fragments/base::footer"></div>
</body>
</html>