<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:replace="fragments/base::header"></div>
<table border="1">
    <thead>
    <h1>ALL USERS</h1>
    <br>
    <tr>
        <th> ID</th>
        <th> Name</th>
        <th> Login</th>
        <th> Password</th>
        <th> Email</th>
<!--        <th> Link to this user</th>-->
    </tr>
    </thead>
    <tbody>
    <!--    <tr th:if="${books.empty}">-->
    <!--        <td colspan="2"> No Books Available </td>-->
    <!--    </tr>-->
    <tr th:each="user : ${users}">
        <td><span th:text="${user.id}">...</span></td>
        <td><span th:text="${user.name}"> ... </span></td>
        <td><span th:text="${user.login}"> ... </span></td>
        <td><span th:text="${user.password}"> ... </span></td>
        <td><span th:text="${user.email}"> ... </span></td>
<!--        <td><span th:text="${user.role}"> ... </span></td>-->
<!--        <td><a th:href="@{/users/}+${#strings.toLowerCase(user.role)} +${user.id}">Open profile <span th:text="${user.name}"/></a></td>-->
    </tr>
    </tbody>
</table>
<div th:replace="fragments/base::footer"></div>
</body>
</html>